/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1, h2, h3, header, img, li, ul, div,
 hgroup, button, link, body  {
   margin: 0px;
   padding: 0px;
   margin-top: 0px;
   position: 0px;
 }

.login-signup {
  font-family: "Gill Sans";
  float: right;
  text-decoration: none;
  font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 10px;

}

.righthandmost {
  margin-right: 5%
}

.login-signup a {
    color: black;
    padding: 25px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    overflow: auto;
}

.login-signup a:visited {
  color: black;
}

.login-signup a:hover {
  color: #EB1478;
}

h1 {
  float: left;
}

.modal-btn {
  background-color: #eb1478;
  border: 2px solid #eb1478;
  padding: 10px 18px;
  font-family: "Gill Sans";
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  border-radius: 2px;
  line-height: 16px;
  letter-spacing: 1px;
  outline: none;
  display: inline-block;
  margin: 5px 0px;
  text-transform: uppercase;
  max-width: 60%;
}

.login-modal-btn

.modal-alt-link {
  color: #0eb4b6;
}

.modal-alt-link:hover {
  text-decoration: underline;
}

.modal-alt-text-log-in {
  font-family: sans-serif;
  color: #6A6A6A;
}

.modal-alt-text-sign-up {
  font-family: sans-serif;
  color: #6A6A6A;
  text-decoration: none;
}

header h1 img {
  margin-left: 5%;
}

.logo {
  max-height: 26px;
}

header {
  margin-top: 1px;
  height: 74px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;

}

ul.testpics img {
  margin-top: -1px;
    height: 33%;
    width: 33%;
    display: inline-block;
}

.login-input {
  min-width: 90%;
  line-height: 24px;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  font-weight: 300;
  font-family: Gill Sans, sans-serif;
}

.login-form {
  display: block;
  margin: 0 auto 0 auto;
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.user-nav-bar {
  background-color: #2A2A2A;
  align-items: center;
  display: flex;
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px;
  margin: 0px;
}

.user-nav-bar a {
  text-decoration: none;
  color: #FAFAFA;
}

.user-nav-bar a:hover {
  color: #FFFFFF;
}

.user-profile-img {
  width: 460px;
  height: 285px;
}

.header-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
}

.campaign-create-btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 13px 9px;
  max-height: 35px;
  margin-right: 20px;
  text-decoration: none;
  background-color: #eb1478;
  border: 2px solid #eb1478;
  color: #ffffff;
}

.header-popout {
  list-style: none;

  margin-top: 15px;
  margin-right: 15px;
  line-height: 200%;
  cursor: pointer;
  display: list-item;
  width: 160px;
  right: 0px;
  background-color: white;
  position: absolute;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: normal;
  z-index: 100;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;

}

.popout-li {
  box-sizing: border-box;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid #dddddd;
}

li.popout-li a {
  text-decoration: none;
  color: black;
}
li.popout-li a:hover {
  color: #eb1478;
}

.popout-li:hover {
  color: #eb1478;
}

.current-user-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.current-user-link:hover {
  color: #eb1478;
}

/*.current-user-link div:hover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin: 0px;
  padding: 0px;
}*/
