/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */

 h1, h2, h3, header, img, li, ul, div,
 hgroup, button, link, body, p, em  {
   margin: 0px;
   padding: 0px;

 }



.login-signup {
  font-family: "Gill Sans";
  float: right;
  text-decoration: none;
  font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 10px;

}

.signup-text {
  color: #c9c9c9;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  padding-bottom: 8px;
  margin: 0px;
}

.signup-text:before {
  border-top: 1px solid #dddddd;
  display: inline-block;
  height: 4px;
  content: " ";
  width: 37%;
  left: 0;
  top: 10px;
  margin-right: 5px
}

.signup-text:after {
  border-top: 1px solid #dddddd;
  display: inline-block;
  height: 4px;
  content: " ";
  width: 37%;
  left: 0;
  top: 10px;
}

.footer-text-container {
  padding-top: 15px;
}

.righthandmost {
  margin-right: 5%
}

.login-signup a {
    color: black;
    padding: 25px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    overflow: auto;
}

.login-signup a:visited {
  color: black;
}

.login-signup a:hover {
  color: #EB1478;
}

.github-info {
  height: 70px;
  display: flex;
  justify-content: space-around;
  margin-top: 2px;
  margin-bottom: 1px;
}

h1 {
  float: left;
}

.github-logo-container {
  text-align: center;
  margin-bottom: 5px;
}

.my-profile-pic-container {
  text-align: center;
}

figcaption {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 300;
  color: #b5b5b5;
}

.signup-modal-btn {
  background-color: #eb1478 !important;
  color: white !important;
  border: 2px solid #eb1478;
  padding: 10px 18px;
  float: right;
  font-family: "Gill Sans";
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  border-radius: 2px;
  line-height: 16px;
  letter-spacing: 1px;
  outline: none;
  display: inline-block;
  margin: 5px 0px 10px;
  align-self: flex-end;
  text-transform: uppercase;
  width: 230px;
  cursor: pointer;
}

.modal-title {
  margin-bottom: 10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #a0a0a0;
}

.github-info a {
  text-decoration: none;
  pointer: cursor;
}

.my-profile-pic {
  margin-top: 6px;
  margin-bottom: 2px;
  border-radius: 50%;
  border: 1px solid lightgrey;
}

.login-modal-btn {
  background-color: #eb1478;
  border: 2px solid #eb1478;
  color: white !important;
  padding: 10px 18px;
  float: right;
  font-family: "Gill Sans";
  font-weight: 500;
  font-size: 15px;
  align-self: flex-end;
  color: #FFFFFF;
  border-radius: 2px;
  line-height: 16px;
  letter-spacing: 1px;
  outline: none;
  display: inline-block;
  margin: 5px 0px 10px;
  text-transform: uppercase;
  width: 140px;
  cursor: pointer;
}

button.modal-btn {
  background-color: #eb1478;
  border: 2px solid #eb1478;
  padding: 10px 18px;
  float: right;
  font-family: "Gill Sans";
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  align-self: flex-end;
  border-radius: 2px;
  line-height: 16px;
  letter-spacing: 1px;
  outline: none;
  display: inline-block;
  margin: 5px 0px;
  text-transform: uppercase;
  min-width: 120px;
  cursor: pointer;
}

button.alt-portal-button {
  background: none!important;
  color: #eb1478!important;
  border: none;
  padding: 0!important;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.modal-alt-link {
  color: #0eb4b6;
  padding-left: 3px;
  margin-right: 2px;
  text-decoration: none;
  cursor: pointer;
}

.modal-signup-privacy {
  margin: -8px 5px 0px 5px;
  font-size: 12px;
  color: #bababa;
  font-weight: 400;
  font-family: sans-serif;
  padding-bottom: 10px;
  text-align: center;
}

.modal-alt-link:hover {
  text-decoration: underline;
  color: #eb1478;
}

.modal-alt-login {
  border-top: solid 1px #dddddd;
  padding-top: 15px;
  margin: 0;
  text-align: right;
  padding: 30px 10px;
  font-family: "Benton Sans","Helvetica","sans-serif";
  font-size: 15px;
  line-height: 1.42857143;
  color: #a5a5a5;
  font-weight: 500;
  letter-spacing: .5px;
}

.modal-alt-text-sign-up {
  font-family: sans-serif;
  color: #6A6A6A;
  text-decoration: none;
}


header.h1 img {
  margin-left: 5%;
}

.logo {
  cursor: pointer;
  margin-left: 10px;
  padding-left: 3%;
  width: 189px;
  height: 45px;
}

header {
  margin-top: 1px;
  height: 80px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;

}

ul.testpics img {
  margin-top: -1px;
    height: 33%;
    width: 33%;
    display: inline-block;
}

.login-input {
  min-width: 94%;
  line-height: 24px;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  font-weight: 300;
  font-family: Gill Sans, sans-serif;
}

.login-form {
  display: block;
  margin: 0 auto 0 auto;
}

.login-form input {
  margin-left: 0px;
  color: #d1d1d1 !important;
  letter-spacing: 0.5px;
  background-color: #d1d1d1;
}

.login-form label {
  color: #b5b5b5;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0px;
}

.login-form input:focus {
  outline: solid 1px grey;
}


.modal-btn-container {
  margin-top: 10px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}

.user-nav-bar {
  background-color: #2A2A2A;
  align-items: center;
  display: flex;
  width: 100%;
  height: 35px;
  font-family: "Benton Sans", "Gill Sans", sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
  margin-left: 5%;

}

.user-nav-bar-container {
  padding: 12px;
  background-color: #2A2A2A;
  display: flex;
}

.user-nav-bar a {
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-bar-selected {
  padding: 1px 5px 1px 5px;
  color: #FFFFFF;
}

.nav-bar-selected a, i, .fa {
  color: #FFFFFF;

}


.nav-bar-unselected {
  padding: 1px 5px 1px 5px;
}

.nav-bar-unselected a, i, .fa {
  color: #DBDBDB;

}

.nav-bar-unselected a:hover, i:hover {
  color: #FFFFFF;
}

.user-profile-img {
  width: 460px;
  height: 285px;
}

.header-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.campaign-create-btn {
  font-weight: 600;
  font-family: Gill Sans, sans-serif;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 13px 12px;
  max-height: 35px;
  margin-right: 20px;
  text-decoration: none;
  background-color: #eb1478;
  border: 2px solid #eb1478;
  color: #ffffff;
  cursor: pointer;
}

.campaign-create-btn:hover {
  background-color: #ffffff;
  border: 3px solid #eb1478;
  color: #eb1478;
}

.header-popout {
  list-style: none;
  margin-top: 50px;
  margin-right: 15px;
  line-height: 200%;
  cursor: pointer;
  display: list-item;
  width: 160px;
  right: 0px;
  background-color: white;
  position: absolute;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: normal;
  z-index: 100;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;

}

.header-popout:after {
  display: block;
  width: 9px;
  height: 9px;
  content: '';
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -5px;
  right: 27px;
}

.popout-li {
  box-sizing: border-box;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid #dddddd;
  font-size: 18px;
  color: #2a2a2a;
}

li.popout-li a {
  text-decoration: none;
  color: black;
}
li.popout-li a:hover {
  color: #eb1478;
}

.popout-li:hover {
  color: #eb1478;
}

.current-user-link {
  font-weight: bold;
  font-size: 16px;
  font-family: Gill-Sans, sans-serif;
  line-height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}



div.user-dropdown-container {
  display: flex;
}

div.arrow-down {
  margin-left: 2px;
  padding: 0px;
  display: inline-table;
  transform: rotate(90deg);
  transition-duration: .5s;
}

div.arrow-up {
  width: 10px;
  margin-left: 2px;
  padding: 0px;
  transform: rotate(270deg);
  transition-duration: .5s;
  display: inline-block;
}

span#arrow {
  overflow: hidden;
}

div.current-user-link:hover {
  color: #eb1478;
}

ul.user-links {
  display: block;
  list-style: none;
  font-family: sans-serif;
  border-bottom: 2px solid #dddddd;
  margin-left: 7%;
  width: 85%;
}

ul.user-links a {
  text-decoration: none;
  color: #070707;
}

ul.user-links a:hover {
  font-weight: 600;
  color: #eb1478;
  text-decoration: underline;

}

.user-links li {
  display: inline-block;
  margin-right: 26px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
  margin-left: 1%;
}

.user-links li:hover {
  color: #eb1478;
}

.user-sidebar {
  margin-top: 20px;
  margin-right: 5%;
  width: 300px;
  background-color: #FAFAFA;
}

.user-title {
  font-family: Gill Sans, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 1px;
  width: 100%;
  margin-top: 45px;
  margin-left: 7%;
  padding-bottom: 30px;
}

.user-profile-img {
  width: 460px;
  height: 290px;
  margin-top: 20px;
  margin-left: 7%;
  display: inline-block;
}

.user-profile-img img {
  max-width: 100%;
  max-height: 100%;
}

.user-location {
  margin-left: 5%;
}

.user-form-header {
  color: #2A2A2A;
  font-weight: 600;
  font-size: 30px;
  border-bottom: 1px #DDDDDD;
  font-family: "Gill Sans", sans-serif;
}

.user-profile-update-component {
  display: block;
  margin-left: 5%;
}

.user-update-form {
  float: left;
  width: 85%;
}

.user-basic-info {
  margin-left: 3%;
  background-color: #F5F5F5;
  margin-bottom: 10px;
}

.user-body-description {
  font-family: sans-serif;
  font-size: 16px;
  color: #757575;
  width: 450px;
  margin-left: 7%;
}

.no-user-bio {
  font-family: "Gill Sans", sans-serif;
  font-style: italic;
  color: #7b7c7a;
  font-size: 14px;
  margin-left: 7%;
}

.about-me-header {
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  width: 420px;
  margin-left: 7%;
}


.user-update-form div input {
  width: 60%;
  max-width: 600px;
  margin-top: 5px;
  height: 34px;
  border: 1px solid #dddddd;
  padding-left: 10px;
  font-size: 14px;
  display: block;
  margin-left: 3%;
}

.user-basic-info label, h2 {
  margin-top: 10px;
  margin-left: 3%;
  color: #7b7c7a;
  font-family: "Gill Sans", sans-serif;
}

.update-user-bio {
  margin-top: 10px;
  margin-left: 3%;
  background-color: #F5F5F5;
  margin-bottom: 10px;
}

.update-user-bio {
  margin-left: 3%;
  background-color: #F5F5F5;
  margin-bottom: 10px;
  color: #7b7c7a;
  display: block;
  font-family: "Gill Sans", sans-serif;
}

.update-user-bio textarea {
  display: block;
  width: 60%;
  max-width: 604px;
  height: 500px;
  resize: none;
  margin-left: 3%;
  margin-top: 10px;
  font-size: 14px;
}


.update-user-bio h2 {
  color: #2A2A2A;
  font-weight: 600;
  font-size: 30px;
  border-bottom: 1px #DDDDDD;
  font-family: "Gill Sans", sans-serif;
}

.update-user-bio h2, label {
  margin-top: 10px;
  margin-left: 3%;
}

.user-update-from label {
  font-family: "Gill Sans", sans-serif;
  position: relative;
  padding-top: 1px;
  color: #7b7c7a;
  margin-left: 3%;
}

.user-update-btn {
  background-color: #EB1478;
  height: 42px;
  letter-spacing: 2px;
  padding: 1px 15px 1px 15px;
  color: #FFFFFF;
  width: 100px;
  border: 2px #f90e7c;
  border-radius: 1px;
  font-size: 14px;
  font-family: "Gill Sans", sans-serif;
  float: right;
  text-transform: uppercase;
  margin-bottom: 3%;
  cursor: pointer;
}

div.dropzone {
  margin-left: 3%;
}

.campaign-submit-btn {
  background-color: #7A69B3;
  height: 42px;
  letter-spacing: 2px;
  padding: 1px 15px 1px 15px;
  color: #FFFFFF;
  width: 175px;
  border: 2px #f90e7c;
  border-radius: 1px;
  font-size: 14px;
  font-family: "Gill Sans", sans-serif;
  float: right;
  text-transform: uppercase;
  margin-bottom: 3%;
  cursor: pointer;
  margin-top: 15px;
}

.campaign-submit-btn:focus {
  outline: 0;
  background-color: #8e59a3;
}

.reward-submit-btn:focus {
  outline: 0;
  background-color: #8e59a3;
}

.reward-submit-another-btn {
  background-color: #7A69B3;
  height: 40px;
  letter-spacing: 1px;
  padding: 1px 10px 1px 10px;
  color: #FFFFFF;
  width: 310px;
  border: 2px #f90e7c;
  border-radius: 1px;
  font-size: 14px;
  font-family: "Gill Sans", sans-serif;
  float: right;
  text-transform: uppercase;
  margin-bottom: 3%;
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reward-submit-btn:focus {
  outline: 0;
  background-color: #8e59a3;
}

a.reward-submit-btn {
  text-decoration: none;

}

div.reward-form label, input, textarea {
    margin-left: 3%;
    width: 60%;
    max-width: 600px;
}

div.reward-form input, textarea {
  font-size: 16px;
}

input.price-input {
  width: 120px;
  line-height: 32px;
  font-size: 24px;
  font-family: sans-serif;
  color: #1fcecb;
  font-weight: 600;
}

input.reward-title-input {
  outline: none;
  width: 60%;
  max-width: 600px;
  color: #3a3a3a;
}

div.reward-form-container {
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 7%;
  margin-right: 7%;
  list-style: none;
  width: 85%;
  height: 960px;
  background-color: #F5F5F5;
}

p.reward-title-input-descriptor {
  font-family: "Gill Sans", sans-serif;
  color: black;
  font-size: 13px;
}

div.campaign-form-container {
  margin-left: 7%;
  margin-right: 7%;
  background-color: #F5F5F5;
  margin-top: 25px;
  min-width: 675px;
}

.exit-reward-form a {
  color: #7A69B3;
  font-size: 20px;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  margin-left: 3%;
  cursor: pointer;
  text-decoration: none;
}

h2.reward-form-header {
  color: #7b7c7a;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  line-height: 26px;
  font-family: "Gill Sans", sans-serif;
}

.exit-reward-form a:hover {
  color: #eb1478;
}



div.campaign-form input, label, p {
  margin-left: 3%;
  outline: none;
}

.campaign-form label {
  font-size: 18px;
  font-family: "Gill Sans", sans-serif;
  letter-spacing: 1px;
  color: #68696b;
}

.reward-form label {
  font-size: 18px;
  font-family: "Gill Sans", sans-serif;
  letter-spacing: 1px;
  color: #68696b;
}

p.input-descriptor {
  position: relative;
  margin-top: 6px;
  margin-bottom: 1px;
  font-family: "Gill Sans", sans-serif;
  color: #b6b7ba;
  font-size: 14px;
  width: 60%;

}

.contribution-btn {
  background-color: #7A69B3;
  height: 40px;
  letter-spacing: 2px;
  padding: 1px 15px 1px 15px;
  color: #FFFFFF;
  width: 175px;
  border: 2px #f90e7c;
  border-radius: 1px;
  font-size: 14px;
  font-family: "Gill Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 3%;
  cursor: pointer;
}

.contribution-btn:hover {
  outline: 0;
  background-color: #8e59a3;
}

.reward-submit-btn {
  background-color: #7A69B3;
  height: 40px;
  letter-spacing: 2px;
  padding: 1px 15px 1px 15px;
  color: #FFFFFF;
  width: 270px;
  border: 2px #f90e7c;
  border-radius: 1px;
  font-size: 14px;
  font-family: "Gill Sans", sans-serif;
  float: right;
  text-transform: uppercase;
  margin-bottom: 3%;
  margin-right: 3%;
  cursor: pointer;
}

.reward-submit-btn:focus {
  outline: 0;
  background-color: #8e59a3;
}

.reward-submit-btn:hover {
  background-color: #8e59a3;
}



p.reward-input-descriptor {
  position: relative;
  margin-top: 6px;
  margin-bottom: 3px;
  font-family: "Gill Sans", sans-serif;
  color: #b6b7ba;
  font-size: 14px;
  width: 60%;
  max-width: 600px;
}

textarea.description-input {
  height: 200px;
  outline: none;
}

p.minimum-goal-info {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 3px;
}

div.campaign-form textarea {
  margin-left: 3%;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  width: 600px;
  resize: none;
  outline: none;
}

h2.campaign-form-header {
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 25px;
  font-size: 30px;
  line-height: 26px;
  margin-left: 3%;
  letter-spacing: 1px;
}

h3.campaign-form-tagline {
  color: #7A69B3;
  font-size: 20px;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  margin-left: 3%;
}

input.goal-input {
  width: 100px;
  line-height: 32px;
  font-size: 24px;
  font-family: sans-serif;
  color: #1fcecb;
  font-weight: 600;
}

input.location-input {
  width: 60%;
  height: 24px;
  width: 500px;

}

textarea.location-input {
  height: 400px;
}

input.title-input {
  width: 60%;
  height: 24px;
  width: 500px;

}

input.campaign-img-url-input {
  height: 24px;
  width: 500px;
  margin-top: 3px;
}

div.empty-nav-bar {
  color: #FFFFFF;
}

.moac-container {
  display: flex;
}

div.buffer {
  width: 7%;
  min-width: 35px;
}

.campaign-index-container {
  list-style: none;
  width: 100%;
  overflow: hidden;
  font-family: "Gill Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 12px;
}

.campaign-card {
  margin: 1.5% 3% 2.5% 3%;
  width: 260px;
  height: 480px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  cursor: pointer;
  overflow: hidden;
  word-wrap: break-word;
  transition-duration: .1s;
}

div.campaign-card:hover {
  border: 1px solid #9b9b9b;
}

div.campaign-card:hover p {
  text-decoration: underline;
}

div.campaign-preview-pic img {
  min-height: 260px;
  max-height: 260px;
  display: flex;
  background-color: #ECD6F0;
  justify-content: center;
}

div.campaign-title-container {
  height: 52px;
}

div.campaign-card-tagline-container {
  height: 60px;
}

li.campaign-category-head {
  color: #a8a8a8;
  font-family: "Benton Sans Medium", "sans-serif";
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  line-height: 20px;
  margin-left: 15px;
  margin-right: 15px;
  letter-spacing: 1px;
}

li.campaign-category-head:hover {
  color: #eb1478;
}

p.campaign-card-title {
  font-family: "Benton Sans Medium", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #5e5e5e;
  max-height: 40px;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
}

p.campaign-card-title:hover {
  color: #eb1478;
}

li.campaign-card-tagline {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 13px;
  margin-top: 6px;
}

div.progressbar-container {
  max-width: 230px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #F5F5F5;
  border: 1px solid #f2f2f2;
}

div.progressbar-progress {
  background-color: #eb1478 !important;
}

.campaign-status-bar {
  height: 20px;
}

p.campaign-card-footer {
  font-family: sans-serif;
  font-size: 12px;
  color: #a8a8a8;
  margin-left: 7%;
  margin-top: -4px;
  text-decoration: none !important;
}

li.campaign-card-goal {
  margin-left: 12px;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 16px;
}

span.campaign-card-currency {
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  margin-left: -2px;
}

li.campaign-location {
  margin-left: 15px;
  margin-right:15px;
  font-family: sans-serif;
  font-size: 13px;
  color: #a8a8a8;
  text-tranform: uppercase;
}

div.campaign-card-location-container {
  margin-bottom: 8px;
}

div.campaign-card-goal-container {
  margin-bottom: 1px;
}

p.campaign-card-currency {
  margin: 0px;
  padding: 0px;
  display: inline;
}


/*.campaign-profile-img img {
  height: 640px;
  max-width: 390px;
  margin: 5px;
}*/

.campaign-profile-header-container {
display: flex;
width: 96%;
margin-left: 5%;
margin-right: 2%;
height: 390px;
overflow: hidden;
margin-top: 10px;
}

div.campaign-profile-img {
  min-width: 400px;
  width: 40%;
  margin-left: 3%;
}

div.campaign-profile-img img {
  display: block;
}

.campaign-vital-stats-box {
  min-width: 380px;
  max-width: 550px;
  list-style: none;
  margin-left: 5%;
}

div.campaign-profile-title {
  font-size: 28px;
  font-weight: 600;
  padding: 4px 0px 20px 0px;
  font-family: sans-serif;
}

div.campaign-profile-description {
  font-size: 18px;
  line-height: 24px;
  color: #5e5e5e;
  font-family: sans-serif;
  margin-bottom: 20px
}

div.campaign-profile-goal {
  margin-bottom: 4px;
}

div.campaign-profile-goal li {
  margin-left: 18px;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 16px;
}

p.campaign-profile-status-footer {
  font-family: sans-serif;
  font-size: 14px;
  color: #a8a8a8;
  margin-top: 5px;
}

div.campaign-profile-overview {
  width: 60%;
  margin-left: 7%;
  text-decoration: none;
  float: left;
  font-family: sans-serif;
}

div.campaign-profile-overview h2 {
  color: #c6c6c6;
  border-bottom: 1px solid #d8d8d8;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-right: 0px;
}

input.reward-title-input {
  width: 400px;
  line-height: 32px;
  font-size: 24px;
  font-family: sans-serif;
  color: #1fcecb;
  font-weight: 600;
}

input.reward-title-input {
  width: 400px;
  line-height: 32px;
  font-size: 16px;
  font-family: sans-serif;
  color: #3a3a3a;
  font-weight: 400;
}

textarea.reward-description-input {
  min-width: 400px;
  height: 300px;
  line-height: 32px;
  font-size: 16px;
  font-family: sans-serif;
  color: #3a3a3a;
  font-weight: 400;
  resize: none;
}

div.overview-text {
  line-height: 25px;
  color: #7f7e7e
}

div.rewards-sidebar {
  display: block;
    float: right;
    width: 30%;
}

div.reward-index-card {
  min-width: 265px;
  max-width: 325px;
  min-height: 345px;
  margin-top: 20px;

  margin-right: 7%;
  border: 1px solid #DDDDDD;
  list-style: none;
}

h2.rewards-sidebar-header {
  color: #c6c6c6;
  border-bottom: 1px solid #d8d8d8;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-left: 0px;
  font-size: 17px;
  padding: 4px 0px 4px 0px;
  margin-right: 7%;
  min-width: 265px;
  max-width: 325px;
}

h2.campaign-overview-header {
  color: #c6c6c6;
  border-bottom: 1px solid #d8d8d8;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-left: 0px;

  font-size: 17px;
  padding: 4px 0px 4px 0px;
}

p.reward-card-price {
  font-family: "Benton Sans", "Helvetica", "sans-serif";
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  color: #0c0c0c;
  margin-left: 7%;
  margin-right: 6%;
  margin-top: 12px;
}

span.reward-currency {
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 34px;
  font-weight: 300;
  color: #b2b2b2;
}

span.shipping-text {
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 34px;
  font-weight: 300;
  color: #b2b2b2;
}

p.reward-supply {
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 7px;
  font-weight: 300;
  color: #b2b2b2;
  margin-left: 6%;
  padding-bottom: 8px;
}

p.reward-card-title {
  margin-left: 6%;
  font-size: 22px;
  font-family: "Benton Sans", "Helvetica", "sans-serif";
  font-weight: 500;
  letter-spacing: 1px;
  color: #0c0c0c;
  margin-right: 6%;
  margin-bottom: 10px;
}

p.reward-card-description {
  color: #a3a1a1;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-left: 6%;
  margin-right: 6%;

}

div.campaign-user-box {
  width: 250px;
  margin: 0px 0px 25px 4px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

div.campaign-user-stats {
  line-height: 4px;
  position: relative;
  margin-left: 4px;
  width: 150px;
}

div.campaign-user-stats li {
  padding: 0px 0px 12px 0px;
}

div.sidebar-no-rewards {
  color: #adadad;
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 20px;
  line-height: 30px;
  margin-left: 5%;
}

p.user-box-username {
  color: #878787;
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}

p.user-box-location {
  color: #adadad;
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}

a.user-about-link {
  text-decoration: none;
  color: #eb1478;
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 5px;
}

a.user-about-link:hover {
  text-decoration: underline;
  color: #e82781;
}

div.user-box-picture {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

div.user-box-picture img {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: 1px solid #ededed;
  background-color: #efeded;
}

h2.user-campaign-list-header {
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0px 20px 0px;
  font-family: sans-serif;
  color: #212121;
  margin-left: 9%;
}

div.campaign-list-item {
  max-width: 1220px;
  min-width: 670px;
  margin-left: 7%;
  margin-right: 7%;
  border-top: 1px solid #dddddd;
  list-style: none;
  text-decoration: none;
  display: flex;
}

div.campaign-list-item-img img {
  height: 210px;
  width: 210px;
  margin: 20px 30px 20px 20px;
  border-radius: 2%;
  border: solid 1px #dddddd;
}

li.campaign-list-title-container {
  margin-top: 20px;
  margin-bottom: 5px;
}

a.campaign-list-item-title {
  font-family: "Benton Sans","Helvetica","sans-serif";
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  color: #3d3d3d;
  text-decoration: none;
}

p.campaign-list-item-title:hover {
  text-decoration: underline;
}

span.campaign-list-item-by {
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 2px;
  font-size: 15px;
  color: #4f4e4e;
  margin-top: 5px;
}

a.campaign-list-item-by-user {
  color: #eb1478;
  font-weight: 600;
  margin-top: 5px;
  font-family: "Benton Sans", sans-serif;
  text-decoration: none;
}

a.campaign-list-item-by-user:hover {
  text-decoration: underline;
  color: #d80265;
}

div.campaign-list-item-tagline {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 400;
  font-family: sans-serif;
  color: #7c7b7a;
}

div.no-user-campaigns {
  margin-left: 8%;
  font-size: 20px;
  color: #7a7b7c;
  font-weight: 500;
  font-family: sans-serif;
  margin-top: 30px;
  font-style: italic;
}

span.goal-text {
  font-size: 12px;
  color: #9b9b9b;
  text-transform: uppercase;
  font-family: sans-serif;
}

button.contribute-button {
  font-weight: 500;
  font-family: Gill Sans, sans-serif;
  align-items: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 14px;
  padding: 17px 15px 17px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 10px;
  text-decoration: none;
  background-color: #eb1478;
  border: 2px solid #eb1478;
  color: #ffffff;
  cursor: pointer;
}

input.contribution-input  {
  font-family: sans-serif;
  font-size: 18px;
  color: #00CCCC;
  max-width: 120px;
  height: 28px;
  padding: 5px 15px;
  border: 1px solid #dddddd;
  margin-right: 20px;
  outline: none;
}

input.contribution-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.campaign-contribution-input  {
  margin-left: 5px;
  font-family: sans-serif;
  font-size: 18px;
  color: #00CCCC;
  max-width: 100px;
  height: 28px;
  padding: 5px 15px 5px 15px;
  border: 1px solid #dddddd;
  margin-right: 20px;
  outline: none;
}

input.campaign-contribution-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.campaign-status-sec {
  margin: 10px 0px 0px -10px;
}

div.campaign-contribute-box {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
